.gridnow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.inner-container {
    width: 40%;
    margin: auto;
    background-color: #fdfdfd;
    padding: 50px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    color: steelblue;
}

.text {
    font-size: 18px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}